body {
    padding: 0;
    margin: 0;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

#container {
    margin: 7%;
    border: 1px dashed #f4f4f5;    
}

#hoofdpagina {
    display: flex;
    width: 69%;
    border: 1px dashed rgb(255, 251, 251);
}

#links {
    width: 70%;
    background-color: rgb(250, 251, 253);
    padding: 5% 2% 0% 2%;
}

#rechts {
    width: 30%;
}

img {
    width: 50%;
    margin-left: 25%;
}

#footer {
    background-color: #333;
    color: #DDD;
    text-align: right;
}
