body {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', serif;
    font-variant: small-caps;
}
body{
    background-image: url(fc-groningen.jpg);
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
}
.mijn-box {
  background-color: #f0f0f0;
  border: 6px solid #333333; 
  padding: 20px;             
  margin: 15px 0;            
  border-radius: 8px;        
  width: 500px;             
}
.mijn-box img{
max-width: 75%;
height: 75%;
display: block;
}